footer {
  width: 100%;
  height: 86px;
  padding: 10px 28px;
  position: fixed;
  bottom: 0;
  background-color: $black;
  font-family: Regular;
}
footer .nav {
  display: flex;
  justify-content: space-between;
}
footer .nav__item {
  width: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .nav__icon {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: $darkGrey;
}
footer .nav__label {
  margin-top: 4px;
  color: $white;
  font-size: 10px;
  white-space: nowrap;
}
